.button {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.button--style {
  padding: 0.6rem;
  cursor: pointer;
  background-color: #0b272a;
  font-weight: 700;
  letter-spacing: 0.05rem;
  border: none;
  color: lightgray;
}
