.card {
  display: flex;
  flex-direction: column;
  border: 1px solid lightskyblue;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem;
}

.card__title {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
}

.card__question {
  line-height: 1.5rem;
}

.card__tags {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
