.navigation {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #d5dbdb;
}

.navigation__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.navigation__icons--style {
  color: grey;
}
