.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.navigation__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
}

.navigation__icons--style {
  color: grey;
  padding: 5px;
}
