.profile__container {
  padding: 3rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__picture {
  width: 200px;
  border-radius: 50%;
}

.profile__caption {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem;
}

.profile__text {
  border: 3px solid lightgray;
  padding: 1rem;
  margin: 1.6rem;
  border-radius: 18px;
  background-color: grey;
  opacity: 0.6;
  color: rgb(0, 0, 0);
  box-shadow: 0 6px 8px rgba(92, 90, 90, 0.918);
}

.profile__text--style {
  line-height: 1.5rem;
}

.profile__tags {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.profile__tags--header {
  text-align: center;
  padding: 1rem;
}

.profile__tags--style {
  background-color: grey;
  border-radius: 18px;
  opacity: 0.6;
  box-shadow: 5px 6px 8px rgba(92, 90, 90, 0.918);
  padding: 5px;
  width: 4rem;
  text-align: center;
  text-decoration: none;
}

.profile__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.2rem;
  text-align: center;
}

.profile__button--logout {
  margin-top: 1rem;
  padding: 15px;
  width: 130px;
  background-color: rgba(61, 70, 9, 0.795);
  border-radius: 18px;
  color: grey;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border: none;
  cursor: pointer;
}
